<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login">

    <select id="validateLogin" parameterType="validateLogin" resultType="String">
        SELECT acc_user_id AS userId FROM user_account WHERE (acc_phone = #{account} OR acc_email = #{account})
         AND acc_pwd = #{password} AND acc_type=#{type} AND acc_status = 1;
    </select>

    <select id="selectUserInfo" parameterType="String" resultType="user">
        SELECT 	user_id AS userId, user_name AS userName, user_image AS userImage,
        user_signature AS userSignature, user_address AS userAddress, user_job AS userJob,
        user_introduce AS userIntroduce, user_evaluation AS userEvaluation FROM user_info WHERE user_id=#{userId};
    </select>

</mapper>