<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="register">

    <select id="validateAccount" parameterType="String" resultType="String">
        SELECT acc_id FROM user_account WHERE acc_email=#{account} OR acc_phone=#{account} limit 1
    </select>

    <!--创建账号-->
    <insert id="registerAccount" parameterType="account">
        <selectKey keyProperty="id" resultType="String" order="BEFORE">
          select replace(uuid(),'-','') from dual
        </selectKey>
        INSERT INTO user_account
       (acc_id,acc_user_id,acc_email,acc_phone,acc_pwd,acc_type,acc_status,acc_regtime)
        VALUES (#{id},#{userId},#{email},#{phone},#{pwd},#{type},#{status},#{regTime,jdbcType=TIMESTAMP})
    </insert>

    <!--创建用户-->
    <insert id="createUser" parameterType="user">
        INSERT INTO user_info
        (user_id,
        user_name,
        user_image,
        user_evaluation
        )
        VALUES (#{userId},#{userName},#{userImage},#{userEvaluation})
    </insert>


</mapper>