<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="user">

    <update id="editUserInfo" parameterType="editUserInfo">
    UPDATE user_info
	SET
	user_name = #{name} ,
	user_signature = #{sig} ,
	user_job = #{job} ,
	user_introduce = #{intro} ,
	user_address = #{addr}
	WHERE
	user_id = #{id} ;
    </update>

  <select id="getUserInfo" resultType="userInfo" parameterType="String">
      SELECT
      user_id AS id,
	user_name AS name,
	user_signature AS sig,
	user_job AS job,
	user_introduce AS intro,
	user_image AS image,
	user_address AS addr
	FROM
	user_info
	WHERE user_id = #{userId}
  </select>

	<update id="updateUserImage" parameterType="map">
		UPDATE user_info SET user_image = #{imagePath} WHERE user_id=#{userId}
	</update>
</mapper>